.container {
    display: flex;
    flex-direction: column;
}

#external-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#bill-calculator-form {
    border: none;
    width: 325px;
}

#internal-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#internal-form-wrapper label {
    margin-bottom: 5px;
    text-align: center;
}

#internal-form-wrapper input, select {
    color: black;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border-width: 1px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
}

#form-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

#form-footer button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form-footer button:hover {
    background-color: #45a049;
}

#calculation-result-div {
    align-self: center;
    text-align: center;
    font-size: 18px;
}